body {
    background-color: #7FDBFF;
    font-family: 'Ubuntu', sans-serif;
}
.align-div {
    display: flex;
}

.left {
  flex: 0 0 65%;
}

.right {
  flex: 1;
}
.logout {
    position: absolute;
    right: 15px;
}
.admin {
 position: absolute;
    right: 200px;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}


.submit {
        cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #9C27B0, #E040FB);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
 }

 .config {
     background-color: #FFFFFF;
     width: 700px;
     margin: auto;
     border-radius: 1.5em;
     box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
     padding: 20px 0 20px 0;
 }
.fetch-data {
    position: absolute;
    right: 430px;
}