<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" th:href="@{/style/login.css}"/>
    <title>Login</title>
</head>

<body>
<div class="main">
    <p align="center" class="sign">Login</p>
    <form method="post" th:action="@{/login}">
        <div class="un"><label> Login : <input name="username" type="text"/> </label></div>
        <div class="pass"><label> Mot de passe : <input name="password" type="password"/> </label></div>
        <div><input class="submit" type="submit" value="Sign In"/></div>
    </form>

    <div th:if="${param.error}">
        <p align="center">Mauvais login/mot de passe.</p>
    </div>
</div>

</body>

</html>